.profile {
  margin-top: 98px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.ctr {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 40px;
}
.profile h2 {
  font-weight: 400;
  margin-bottom: 32px;
}
.profile .profile-img {
  width: 90px;
  height: 90px;
}
.profile-avatar {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 642px;
}
.container-avatar {
  display: flex;
  align-items: center;
  gap: 24px;
}
.btn-ubah {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.btn-ubah p {
  font-size: 14px;
  color: #c1c2c4;
}
.ubah {
  padding: 8px 12px;
  border-radius: 42px;
  border: 1px solid #3254ff;
  color: #3254ff;
  cursor: pointer;
}
.profile-avatar {
  display: flex;
}
.profile-avatar p {
  display: flex;
  align-items: center;
  gap: 4px;
}
.profile-frame {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.profile-frame form input {
  width: 100%;
  border: 1px solid rgba(231, 227, 252, 0.23);
  background: #22282a;
}
.profile-frame input::placeholder {
  font-size: 12px;
}
.simpan {
  background: #3254ff;
  color: #fff;
  max-width: fit-content;
}
@media (max-width: 768px) {
  .ctr {
    flex-direction: column-reverse;
    gap: 5%;
    max-width: 90vw;
  }
  .profile-frame {
    max-width: fit-content;
  }
  .profile-frame form input {
    width: 90vw;
  }
  .profile-avatar {
    margin-top: 20px;
  }
}
