.navbar-left img {
  height: 44px;
}
.logo-desktop {
  display: block;
}
.logo_mobile {
  display: none;
}

.navbar-right .icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.navbar-right .caret {
  cursor: pointer;
}
.profile-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.dd-lists {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.dd-lists img {
  margin-right: 0.5rem;
}
.link-style {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.link-style:hover {
  color: #c2c2c2;
}

@media (max-width: 768px) {
  .logo_normal {
    display: none;
  }
  .logo_mobile {
    display: block;
    width: 20px;
  }
  .navbar {
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  .navbar-left {
    gap: 16px;
  }
  .navbar-left ul {
    flex-wrap: wrap;
    gap: 10px;
  }
  .navbar-right .icon {
    width: 20px;
    height: 20px;
  }
}
