.navbar {
  top: 0;
  width: 100%;
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-size: 14px;
  background: #181a1c;
  z-index: 99;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navbar-left img {
  height: 44px;
}
.logo-desktop {
  display: block;
}
.logo_mobile {
  display: none;
}
.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 80px;
}
.navbar-right {
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-right .icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.navbar-right .caret {
  cursor: pointer;
}
.profile-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.dropdown {
  position: absolute;
  top: 172%;
  right: 0;
  width: 156px;
  border-radius: 0 0 4px 4px;
  background-color: #181a1c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dd-lists {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.dd-lists img {
  margin-right: 0.5rem;
}
.link-style {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.link-style:hover {
  color: #c2c2c2;
}

@media (max-width: 768px) {
  .logo_normal {
    display: none;
  }
  .logo_mobile {
    display: block;
    width: 20px;
  }
  .navbar {
    flex-wrap: wrap;
    padding: 10px 20px;
  }
  .navbar-left {
    gap: 16px;
  }
  .navbar-left ul {
    flex-wrap: wrap;
    gap: 10px;
  }
  .navbar-right .icon {
    width: 20px;
    height: 20px;
  }
}
