.mylistcards {
  padding: 0 5%;
  margin-top: 98px;
  margin-bottom: 40px;
  /* position: relative; */
  transition: transform 0.3s ease-in-out;
}
.mylistcards h2 {
  margin-bottom: 32px;
  padding-top: 32px;
}
.mylist-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
}
.mylist-card.hovered img {
  transform: scale(1.1);
}
.mylist-card::-webkit-scrollbar {
  display: none;
}
.mylist-card img {
  width: 234px;
  height: 332px;
  border-radius: 6px;
  cursor: pointer;
}
.mylist-card .card {
  position: relative;
}
.mylist-card .card p {
  position: absolute;
  bottom: 8px;
  left: 10px;
}
.remove-button {
  background-color: red;
  height: fit-content;
  color: white;
  font-size: 12px;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  right: 10px;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .mylist-card img {
    width: 98px;
  }
  .mylist-card {
    gap: 10px;
  }
}
