@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(loginpage-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#login-page {
  background-color: rgba(24, 26, 28, 0.84);
  padding: 40px;
  border-radius: 16px;
  width: 529px;
  max-width: 529px;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

label {
  text-align: left;
  margin-bottom: -31px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

input[type="text"],
input[type="password"] {
  border-radius: 24px;
  text-decoration: none;
  border: 1px solid rgba(231, 227, 252, 0.23);
  padding: 16px 20px;
  background: transparent;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #646cff;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.lalala {
  display: flex;
  justify-content: space-between;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 24px;
  border: 1px solid rgba(231, 227, 252, 0.23);
  padding: 14px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(61, 65, 66);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: -31px;
}
button:hover {
  border-color: rgb(231, 227, 252);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.google {
  background-color: transparent;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
